/* generales */
*{
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
    margin: 0;
    padding: 0;
}

/* cuerpo  */
body{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: rgb(24,40,80);
     transition-duration: .5s;
}

/* contenedores */
.principal_container{
    width: 50vw;
    max-width: 600px;
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 4rem;
}

/* colores rgb */
.color{
    padding: 1.4rem;
    margin: 1rem;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
label, p{
    margin: 1.3rem;
}